<app-section-header
  title="Torna alla Home"
  [button]="{ label: 'I miei Progetti', link: '/', type: 'solid' }"
/>

<app-project-search (searching)="onSearchProject($event)" />

@if (projects().length) {
  @let filteredProjects =
    projects()
      | searchFilter: 'name' : searchedProject().name?.toString() || ''
      | searchFilter: 'priority' : searchedProject().priority?.toString() || ''
      | searchFilter: 'done' : searchedProject().done?.toString() || '';

  <app-project-list
    [projects]="filteredProjects"
    (selected)="onSelectProject($event)"
  />
} @else {
  <div class="p-4 text-center text-gray-600">Non è presente alcun progetto</div>
}

<app-project-form
  [nextId]="projects().length"
  (submitted)="onSubmitProject($event)"
/>
