<div>
  <h2 class="mb-2 text-xl font-bold text-gray-900">I miei progetti</h2>
  <hr />
  <app-project-search (searching)="onSearchProject($event)" />
</div>

@if (projects().length) {
  @let filteredProjects =
    projects()
      | searchFilter: 'name' : searchedProject().name?.toString() || ''
      | searchFilter: 'priority' : searchedProject().priority?.toString() || ''
      | searchFilter: 'done' : searchedProject().done?.toString() || '';

  <app-project-list
    [projects]="filteredProjects"
    (selected)="onSelectProject($event)"
  />
} @else {
  <div class="p-4 text-center text-gray-600">Non è presente alcun progetto</div>
}

@if (selectedProject(); as selectedProject) {
  <app-project-detail [project]="selectedProject" />
}

<app-project-form
  [nextId]="projects().length"
  (submitted)="onSubmitProject($event)"
/>
