<header
  class="relative flex w-full flex-wrap bg-white py-3 text-sm sm:flex-nowrap sm:justify-start dark:bg-neutral-800"
>
  <nav
    class="mx-auto w-full max-w-7xl px-4 sm:flex sm:items-center sm:justify-between"
  >
    <div class="flex items-center justify-between">
      <a
        class="flex-none text-xl font-semibold focus:opacity-80 focus:ring-0 dark:text-white"
        href="#"
      >
        <span
          class="inline-flex items-center gap-2 text-xl font-semibold dark:text-white"
        >
          <img alt="Logo" class="h-auto w-10" src="./assets/images/logo.png" />
          NG Tracking Tool
        </span>
      </a>
      <button
        aria-label="Toggle menu"
        class="p-2 text-gray-500 hover:text-gray-600 sm:hidden dark:text-gray-400"
        type="button"
      >
        <svg
          class="h-5 w-5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4 6h16M4 12h16M4 18h16"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          />
        </svg>
      </button>
    </div>

    <div class="hidden sm:block">
      <div
        class="mt-5 flex flex-col gap-5 sm:mt-0 sm:flex-row sm:items-center sm:justify-end sm:pl-5"
      >
        <a
          class="font-medium text-orange-500 hover:text-orange-600 focus:ring-0 dark:text-neutral-400 dark:hover:text-neutral-500"
          href="#"
        >
          Dashboard
        </a>
        <a
          class="font-medium text-gray-600 hover:text-orange-600 focus:ring-0 dark:text-neutral-400 dark:hover:text-neutral-500"
          href="#"
        >
          Progetti
        </a>
      </div>
    </div>
  </nav>
</header>

<div class="container mx-auto w-full max-w-7xl px-4 py-8 sm:flex sm:flex-col">
  <h1 class="mb-6 text-3xl font-bold text-gray-900">
    Benvenuto in {{ title }}!
  </h1>
  <app-project />
</div>
