<app-section-header
  title="Dettagli Progetto"
  [button]="{ label: 'Torna ai Progetti', link: '/projects', type: 'solid' }"
/>

@if (project(); as project) {
  <div class="mt-5 rounded-lg bg-gray-100 p-6">
    <h1 class="mb-2 text-4xl font-bold">{{ project.name }}</h1>
    <p class="mb-4 text-xl text-gray-700">{{ project.description }}</p>
    <hr class="my-4 border-t border-gray-300" />
    <p class="text-gray-800">
      <span>Codice: {{ project.code }}</span>
      <span> - Data Inizio: {{ project.start | date: 'dd/MM/yyyy' }}</span>

      @if (project.end) {
        <span> - Data Fine: {{ project.end | date: 'dd/MM/yyyy' }}</span>
      }
    </p>
  </div>
}
