<form [formGroup]="form()" (ngSubmit)="onSubmit()">
  <input formControlName="id" name="id" type="hidden" />

  <div class="flex gap-4 my-5">
    <div class="flex-1">
      @let invalidName = form().controls.name.invalid && form().controls.name.touched;

      <label class="block mb-2 text-sm font-medium dark:text-white" for="name">
        Nome
      </label>
      <input
        class="block w-full rounded-lg border border-gray-300 px-4 py-2.5 outline-orange-500 focus:border-orange-500 focus:ring-orange-500 disabled:pointer-events-none disabled:opacity-50 sm:py-3 sm:text-sm dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
        formControlName="name"
        name="name"
        required
        type="text"
        [class.border-red-500]="invalidName"
      />

      @if (invalidName) {
        <p class="font-semibold text-red-500">
          <small>Il campo è richiesto</small>
        </p>
      }
    </div>

    <div class="flex-1">
      @let invalidPriority = form().controls.priority.invalid && form().controls.priority.touched;

      <label
        class="block mb-2 text-sm font-medium dark:text-white"
        for="priority"
      >
        Priorità
      </label>
      <select
        class="block w-full px-4 py-3 text-sm border border-gray-300 rounded-lg appearance-none pe-9 outline-orange-500 focus:border-orange-500 focus:ring-orange-500 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
        formControlName="priority"
        name="priority"
        required
        type="text"
        [class.border-red-500]="invalidPriority"
      >
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>

      @if (invalidPriority) {
        <p class="font-semibold text-red-500">
          <small>Il campo è richiesto</small>
        </p>
      }
    </div>

    <div class="flex-1">
      @let invalidStart = form().controls.start.invalid && form().controls.start.touched;

      <label class="block mb-2 text-sm font-medium dark:text-white" for="start">
        Data Inizio
      </label>
      <input
        class="block w-full rounded-lg border border-gray-300 px-4 py-2.5 outline-orange-500 focus:border-orange-500 focus:ring-orange-500 disabled:pointer-events-none disabled:opacity-50 sm:py-3 sm:text-sm dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
        formControlName="start"
        name="start"
        required
        type="date"
        [class.border-red-500]="invalidStart"
      />

      @if (invalidStart) {
        <p class="font-semibold text-red-500">
          <small>Il campo è richiesto</small>
        </p>
      }
    </div>

    @if (!quickMode()) {
      @let invalidEnd = form().controls.end.invalid && form().controls.end.touched;

      <div class="flex-1">
        <label class="block mb-2 text-sm font-medium dark:text-white" for="end">
          Data fine
        </label>
        <input
          class="block w-full rounded-lg border border-gray-300 px-4 py-2.5 outline-orange-500 focus:border-orange-500 focus:ring-orange-500 disabled:pointer-events-none disabled:opacity-50 sm:py-3 sm:text-sm dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
          formControlName="end"
          name="end"
          required
          type="date"
          [class.border-red-500]="invalidEnd"
        />

        @if (invalidEnd) {
          <p class="font-semibold text-red-500">
            <small>Il campo è richiesto</small>
          </p>
        }
      </div>
    }
  </div>

  <div class="flex gap-4 my-5">
    <div class="flex-1">
      @let invalidDescription = form().controls.description.invalid && form().controls.description.touched;

      <label
        class="block mb-2 text-sm font-medium dark:text-white"
        for="description"
      >
        Descrizione
      </label>
      <textarea
        class="block w-full rounded-lg border border-gray-300 px-4 py-2.5 outline-orange-500 focus:border-orange-500 focus:ring-orange-500 disabled:pointer-events-none disabled:opacity-50 sm:py-3 sm:text-sm dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
        formControlName="description"
        name="description"
        required
        [class.border-red-500]="invalidDescription"
      ></textarea>

      @if (invalidDescription) {
        <p class="font-semibold text-red-500">
          <small>Il campo è richiesto</small>
        </p>
      }
    </div>
  </div>

  <button
    class="inline-flex items-center px-4 py-3 text-sm font-medium text-white bg-orange-500 border border-transparent rounded-lg cursor-pointer gap-x-2 hover:bg-orange-600 disabled:pointer-events-none disabled:opacity-50"
    type="submit"
    [disabled]="form().invalid"
  >
    {{ buttonText() }}
  </button>
</form>
